@model BandsMVC.Models.Band
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
    <html>
    <head>
        <title>@Model.Name</title>
    </head>
    <body>
           <h1>@Model.Name</h1>
           <p>@Model.Description</p>
    <img src="@Url.Content($"~/{Model.ImgUrl}")" alt="Alternate Text" />
    <h2>Albums</h2>
    <ul>
        @foreach (var album in Model.Albums)
        {
            <li>@album</li>
        }
    </ul>
    </body>
    </html>