@model BandsMVC.Models.Band
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css">
    <title>@Model.Name</title>
</head>
<body>
    <main class="container">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <figure>
            <img src="@Url.Content($"~/{Model.ImgUrl}")" alt="@Model.Name" />
            <figcaption>@Model.Name</figcaption>
        </figure>
    </main>
</body>
</html>
